*.pyc
src/log*.txt
*.obj
*.MOD
*.dxbc
src/shader/tmp/*.txt
*.ps
*.vs
src/err.txt
src/mfx_log.txt
*.dae
*.gtb
src/model_log.txt
src/lmt_log.txt
src/mod_log.txt
*.gtba
src/unknown_extension.txt
src/tmp/break_on_loading_gui__save__.txt
src/tmp/create_file_log.txt
src/tmp/create_file_log2.txt
src/tmp/create_file_log3.txt
src/tmp/print_pl000_model_ptr.txt
src/windbg/dbg_util.py
*.log